@using System.Globalization
@using DestallMaterials.Blazor.Components.Services.UI
@using DestallMaterials.WheelProtection.DataStructures.Text

@inherits BaseInput<TimeOnly>


@inject IGlobalClickCatcher clickCatcher
@inject IUiManipulator uiManipulator

@{
    var mask = new TimeMask(MinValue, MaxValue, Value, IncludeSeconds);
    var cssClass = $"time-picker {(HasError ? "errored" : "")}";
}

<div class="@cssClass" id="@Id"
     @onmouseout="() => _mouseOnInput = false"
     @onmouseover="() => _mouseOnInput = true">

    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="flexible-date-picker-label">@Label</label>
    }
    <div class="flexible-date-picker-input-wrapper">

        <MaskedInput OnValueChanged="OnCharInputChanged" Value="@mask" Error="@Error" />

        @if (Clearable && Value != default)
        {
            <button type="button" class="flexible-date-picker-clear" @onclick="ClearValue">×</button>
        }

        @if (_showCustomPicker)
        {
            <div class="@($"date-picker-dropdown date-picker-scroll-container {(IncludeSeconds ? "include-seconds" : "")}") "
                 @onmouseout="() => _mouseOnPicker = false"
                 @onmouseover="() => _mouseOnPicker = true">

                @{
                    var (minHour, maxHour) = mask.AllowedHours();
                    var hourOptions = OptionsRange(0, 24, minHour, maxHour);

                    var (minMinute, maxMinute) = mask.AllowedMinutes(Value.Hour);
                    var minuteOptions = OptionsRange(0, 60, minMinute, maxMinute);

                    var (minSecond, maxSecond) = mask.AllowedSeconds(Value.Hour, Value.Minute);
                    var secondOptions = OptionsRange(0, 60, minSecond, maxSecond);
                }
                <HighlightSelector T="int"
                                   Label="Hour"
                                   Options="hourOptions"
                                   OnValueChanged="d => SelectHour(d[0])"
                                   Value="[Value.Hour]"
                                   MinSelected="1"
                                   MaxSelected="1" />
                <HighlightSelector T="int"
                                   Label="Minute"
                                   Options="minuteOptions"
                                   OnValueChanged="d => SelectMinute(d[0])"
                                   Value="[Value.Minute]"
                                   MinSelected="1"
                                   MaxSelected="1" />
                @if (IncludeSeconds)
                {
                    <HighlightSelector T="int"
                                       Label="Second"
                                       Options="secondOptions"
                                       OnValueChanged="d => SelectSecond(d[0])"
                                       Value="[Value.Second]"
                                       MinSelected="1"
                                       MaxSelected="1" />
                }

            </div>
        }
    </div>
</div>