@page "/"
@using DestallMaterials.Blazor.Components.Inputs
@using System.Globalization
@using DestallMaterials.Blazor.Components.Services.UI
@using DestallMaterials.WheelProtection.DataStructures.Text

@inject IGlobalClickInvoker clickInvoker

<PageTitle>Component Visual Testing</PageTitle>

<h1>DestallMaterials.Blazor.Components - Visual Testing</h1>

<div style="padding:100px"
     @onclick="(e) => clickInvoker.FireGlobalMouseClickEvent(e)"
     @onmousedown="(e) => clickInvoker.FireGlobalMouseClickEvent(e)"
     @onkeydown="e => clickInvoker.FireKeyClickEvent(e)">

    @* <!-- SearchSelectorSingular Component Tests -->
    <section style="border: 1px solid #ccc; padding: 15px; border-radius: 8px;">
        <h2>SearchSelectorSingular Component</h2>

        <div style="margin: 10px 0;">
            <h3>Basic Search Selector:</h3>
            <SearchSelector TItem="string"
                                    Label="Country"
                                    GetItemsByFilter="SearchCountries"
                                    GetItemRepresentation="item => item"
                                    OnValueChanged="v => SelectedCountry = v"
                                    Value="@SelectedCountry" />
            <p>Selected Country: <strong>@(SelectedCountry ?? "None")</strong></p>
        </div>

        <div style="margin: 10px 0;">
            <DateInput 
                Label="Event date"
                OnValueChanged="v => EventDate = v"
                Value="@EventDate"
                MinValue="new(2024,4,6)"
                MaxValue="DateOnly.FromDateTime(DateTime.Today)" />
            <p>Event date: <strong>@(EventDate == default ? "None" : EventDate)</strong></p>
        </div>

    </section> *@

    <DateInput OnValueChanged="@(v => { _date = v; StateHasChanged(); })"
               Value="_date" />

    <p>@_date</p>

</div>

@code {

    DateOnly _date = DateOnly.FromDateTime(DateTime.Today);

    static readonly DateFormatting _dateFormatting = new();
    ISlotConstraintsSource<char> DateTimeConstraintsSource { get; } = new DateSlotConstraintsSource(
        new(new(2000, 1, 1), DateTime.Today), _dateFormatting);
}